@import '../../theme/generic.scss';

ion-item,ion-label{font-size:14px;}
ion-item{padding:0;--border-width:0;--inner-border-width:0;--padding-start:8px;border:solid 1px #aaaaaa80;border-radius:8px;;padding:8px;}
.company-name{font-size:24px;font-weight:600;}
.creative{text-align:center;margin-bottom:16px;}
.creative img{width:100px;}
.title{font-size:24px;text-align:left;font-weight:900;}
.disclaimer{text-align:center;font-size:12px;margin:0 0 8px 0;}
.value{font-weight:600;font-size:20px;}
.label{text-align:center;font-size:10px;margin:4px 0 16px 0;opacity:0.8;}
.time-range{padding:0px 10px 0px 10px;}
.information{font-size:11px;text-align:center;}
.signal-container{padding:5px 0px;display:inline-block;}
.user-info{float:left;width:100%;}
.user-info .username{font-size:14px;font-weight:600;}
.user-info .company{font-size:14px;opacity:0.5;}
.user-info .stats{font-size:12px;margin-top:4px;text-transform:uppercase;}
.user-info .rating img{width:20px;}
.user-info .bio{text-align:center;font-size:12px;margin:8px 0 8px 0;}
.success{color:green;}
