.title { font-size: 18px; text-align: left; margin: 8px 0 0 0; margin-left: 16px; font-weight: 900; }
.settings{width:100%;margin:10px 0;}
.settings ion-list ion-icon{margin-right:12px;}
.settings ion-list ion-label{font-size:14px;font-weight:600; text-transform: uppercase;}
.settings ion-list ion-label .description {font-size: 12px; margin-top: 2px;font-weight:500;text-transform: none;}