@import '../../theme/generic.scss';

.creative{text-align:center;margin-bottom:16px;}
.creative img{width:100px;}
.avantages{text-align:center;font-size:12px;margin:0px 0 16px 0;}
.time-range{padding:0px 10px 0px 10px;}
.checkmark-success{color:green;font-size:5.5rem;text-align:center;}
