<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-title mode="ios">INTRO</ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <ion-slides>
      <ion-slide>
        <img src="../../assets/functional/intro/analysis.png">
        <h2>Analysis</h2>
        <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </ion-slide>
      <ion-slide>
        <img src="../../assets/functional/intro/signalling.png">
        <h2>Signalling</h2>
        <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </ion-slide>      
      <ion-slide>
        <img src="../../assets/functional/intro/trading.png">
        <h2>Trading</h2>
        <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </ion-slide>
    </ion-slides>

  </div>
</ion-content>
