@import '../../theme/generic.scss';.container{margin:16px;}
ion-toolbar ion-title img{width:40px;margin-top:4px;}
ion-slide img{width:300px;}
.swiper-slide{display:block;}
.swiper-slide h2{margin-top:16px;font-weight:600;}
.swiper-slide img{pointer-events:none;}
b{font-weight:500;}
p{font-size:14px;line-height:1.5;color:var(--ion-color-step-600,#60646b);}
