<ion-tabs>
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="home">
      <ion-icon src="../../assets/functional/icons8-home.svg"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="signals">
      <ion-icon src="../../assets/functional/icons8-multichannel.svg"></ion-icon>
      <ion-label>Signals</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="subscriptions">
      <ion-icon src="../../assets/functional/icons8-equity-security.svg"></ion-icon>
      <ion-label>Subscriptions</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="notifications">
      <ion-icon src="../../assets/functional/icons8-doorbell.svg"></ion-icon>
      <ion-label>Notifications</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings">
      <ion-icon src="../../assets/functional/icons8-settings.svg"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
