<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/signals"></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">GETTING STARTED</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">

    <div class="creative">
      <img src="../../assets/creative/creative03.png">
    </div>

    <div class="title">
      Subscription
    </div>

    <div class="description passive">
      Before you start selling signals, we need to ask you a few questions. Enable the weekly and monthly subscription?
    </div>

    <!-- <div class="content-enabled mg-t-16">
      <div class="enabler mg-t-6">
        <div class="check">
          <ion-toggle class="left" slot="start" name="blueberry" [(ngModel)]="enableWeeklyPrice"></ion-toggle>
        </div>
        <div class="label mg-t-2">
          <ion-label class="left mg-l-8 mg-t-4 tx-w-600">Weekly Price</ion-label>
        </div>
      </div>
      <div class="value input-text">
        <ion-input type="text" numeric decimals="2" separator="." clearOnEdit="true" placeholder="$19.99"
          [(ngModel)]="weeklyPrice" [disabled]="!enableWeeklyPrice"></ion-input>
      </div>
    </div> -->

    <div class="content-enabled mg-t-8">
      <div class="enabler mg-t-6">
        <div class="check">
          <ion-toggle class="left" slot="start" name="blueberry" [(ngModel)]="enableMonthlyPrice"></ion-toggle>
        </div>
        <div class="label mg-t-2">
          <ion-label class="left mg-l-8 mg-t-4 tx-w-600">Monthly Price</ion-label>
        </div>
      </div>
      <div class="value input-text">
        <ion-input type="text" numeric decimals="2" separator="." placeholder="$59.99" maxlength="8"
          [(ngModel)]="monthlyPrice" [disabled]="!enableMonthlyPrice">
        </ion-input>
      </div>
    </div>

    <div class="title mg-t-16">Company</div>
    <div class="description passive">Details about your company</div>
    <div class="content-enabled mg-t-8">
      <div class="enabler-2 mg-t-6">
        <div class="check">
          <ion-toggle class="left" slot="start" name="blueberry" [(ngModel)]="enableCompany"></ion-toggle>
        </div>
        <div class="label mg-t-2">
          <ion-label class="left mg-l-8 mg-t-4 tx-w-600">I have company I'm trading with.</ion-label>
        </div>
      </div>
    </div>
    <div class="value input-text mg-t-16" *ngIf="enableCompany">
      <ion-input type="text" clearOnEdit="true" [(ngModel)]="companyName" placeholder="Enter your company name">
      </ion-input>
    </div>
    <div class="input-text mg-b-16 mg-t-4" *ngIf="enableCompany">
      <ion-textarea clearOnEdit="true" auto-grow="true" [(ngModel)]="companyDescription"
        placeholder="Enter the company bio">
      </ion-textarea>
    </div>
    <ion-button appButtonSpinner (click)="confirm()" class="btn-custom" text="CONFIRM" loadingText="Saving"
      [loadingState]="isSaving" expand="block">
      <span>CONFIRM</span>
    </ion-button>

    <div class="btn-cancel-wrapper" *ngIf="!isSaving">
      <a class="btn-cancel" (click)="sendToSignals()">CANCEL</a>
    </div>

  </div>
</ion-content>