@import '../../theme/generic.scss';

#fileInput,#fileInput2{display:none;}
label{display:block;}
.status-container{width:100%;text-align:center;padding:16px 0;}
.status{text-align:center;border:solid 2px #dedede;display:inline;padding:4px 8px;border-radius:8px;font-weight:600;}


.uploaded-container img {border-radius: 8px; max-height: 200px; width: 100%; object-fit: cover;}
.btn-small {padding: 4px !important; margin: 4px 0 0 0;}
.filename {font-size: 12px; font-weight: 600; text-transform: uppercase; margin-bottom: 4px;}