.content{padding:0 16px;font-size:14px;}
.content .title {margin: 0 0 16px 0;font-size: 18px; text-align: left; font-weight: 900; text-transform: uppercase;}
.content .item {margin: 0 0 16px 0;cursor: pointer;}