.title { font-size: 18px; text-align: left; margin-left: 20px; font-weight: 900; text-transform: uppercase;}
.settings{width:100%;margin:0 0 16px 0;}
.settings ion-list ion-icon{margin-right:12px;}
.settings ion-list ion-label{font-size:14px;font-weight:600; text-transform: uppercase;}
.settings ion-list ion-label .description {font-size: 12px; margin-top: 2px;font-weight:500;text-transform: none;}
.settings ion-list .sign-out{color:var(--sign-out);text-align:center;}
.settings ion-list .delete{color:var(--delete-account);text-align:center;}
.version {text-align: center; font-size: 12px !important; margin-top: 12px; color: #808c9f;}

.pointer {cursor: pointer;}